/* basic settings*/
html,
body {
  font-family: "Inter", sans-serif;
  font-family: "Noto Sans TC", sans-serif;
  font-family: "Nunito Sans", sans-serif;
}

/*  light, dark mode 共有顏色  */
$button-bg: #f67599;
$button-color: #ffffff;

:root {
  --main-bg: #ffffff;
  --main-color: #2a2a2a;
  --stepper-color: #afb1bd;
  --stepper-line: #f0f0f5;
  --stepper-text-active: #2a2a2a;
  --stepper-circle-text: #ffffff;
  --stepper-circle-bg: #333333;
  --form-text: #808080;
  --form-border: #4a4a4a;
  --form-triangle: #2a2a2a;
  --form-radio: #2a2a2a;
  --form-border-active: #2a2a2a;
  --form-border-disable: #f0f0f5;
  --form-deliver-text: #000000;
  --form-deliver-description: #000000;
  --other-border: #e6e6eb;
  --button-bg: #f67599;
  --button-color: #ffffff;
  --cart-border: #f0f0f5;
  --cart-bg: #ffffff;
  --cart-btn-bg: #f0f0f5;
  --footer-bg: #f6f7f8;
  --footer-color: #808080;
  --logo-url: url("https://i.postimg.cc/VsW1BPBG/Logo-2x-light.png");
  --icon-search-url: url("https://i.postimg.cc/4N00pWM2/icon-2x-search-light.png");
  --icon-cart-url: url("https://i.postimg.cc/43Qw2PLg/icom-2x-cart-light.png");
  --icon-mode-url: url("https://i.postimg.cc/8PvRnwc0/icon-2x-mode-light.png");
}

$sizes: (
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%
);

/*  使用 @each產出 CSS size  */
$sizes: (
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%
);

@each $prop,
$abbrev in (width: w, height: h) {

  @each $num,
  $value in $sizes {
    .#{$abbrev}-#{$num} {
      #{$prop}: #{$value};
    }
  }
}

$spacer: 1rem;
$spacers: (
  0: 0,
  1: 0.25 * $spacer,
  2: 0.5 * $spacer,
  3: 0.75 * $spacer,
  4: 1 * $spacer,
  5: 1.25 * $spacer,
  6: 1.5 * $spacer,
  7: 1.75 * $spacer,
  8: 2 * $spacer
);

@each $prop,
$abbrev in (margin: m, padding: p) {

  @each $num,
  $value in $spacers {
    .#{$abbrev}-#{$num} {
      #{$prop}: #{$value};
    }

    .#{$abbrev}t-#{$num} {
      #{$prop}-top: #{$value};
    }

    .#{$abbrev}r-#{$num} {
      #{$prop}-right: #{$value};
    }

    .#{$abbrev}b-#{$num} {
      #{$prop}-bottom: #{$value};
    }

    .#{$abbrev}l-#{$num} {
      #{$prop}-left: #{$value};
    }

    .#{$abbrev}x-#{$num} {
      #{$prop}-right: #{$value};
      #{$prop}-left: #{$value};
    }

    .#{$abbrev}-#{$num} {
      #{$prop}-top: #{$value};
      #{$prop}-bottom: #{$value};
    }
  }
}

@mixin getStepNums($num) {
  @for $i from 1 through $num {
    &:nth-child(#{$i}) .step__circle::after {
      content: "#{$i}";
    }
  }
}

%input-style {
  border: 1px solid var(--form-border);
  border-radius: 4px;
  height: 40px;
  width: 100%;
  font-size: 12px;
  padding-left: 18px;
}

html {
  font-size: 16px;
  height: 100%;
}

body {
  height: 100%;
  background: var(--main-bg);
  color: var(--main-color);
}

.d-none {
  display: none;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-block;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.align-content-start {
  align-content: flex-start;
}

.align-content-end {
  align-content: flex-end;
}

.align-content-center {
  align-content: center;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.cursor-pointer {
  cursor: pointer;
}