/*  Mobile RWD  */
main {
  .main__button {
    padding-top: 24px;
    border-top: 1px solid var(--other-border);
    margin-top: 32px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    &__previous,
    &__next {
      width: 100%;
      height: 46px;
    }

    &__previous {
      justify-content: start;
      align-items: center;
      color: var(--main-color);

      span::before {
        content: "\2190";
        padding-right: 12.5px;
      }
    }

    &__next {
      background: $button-bg;
      padding: 11px 39.5px 11px 38.5px;
      border-radius: 8px;
      color: $button-color;

      span::after {
        content: "\2192";
        padding-left: 13.5px;
      }
    }
  }
}

/*  >= 375px RWD  */
@media screen and (min-width: 375px) {
  main {
    .main__button {
      grid-column: 1 / 7;
      grid-row: 3 / 4;
      margin-top: 10px;
      display: flex;
      justify-content: space-between;

      &__previous,
      &__next {
        width: 174px;
        height: 46px;
      }

      &__previous {
        span::before {
          content: "\2190";
          padding-right: 12.5px;
        }
      }

      &__next {
        background: var(--button-bg);
        padding: 11px 39.5px 11px 38.5px;
        border-radius: 8px;
        color: var(--button-color);

        span::after {
          content: "\2192";
          padding-left: 13.5px;
        }
      }
    }
  }
}